<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.revolutionuc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".biofinal"></activity>
        <activity android:name=".bio2" />
        <activity android:name=".bio1" />
        <activity android:name=".bio" />
        <activity android:name=".chemfinal" />
        <activity android:name=".chem2" />
        <activity android:name=".chem1" />
        <activity android:name=".chem" />
        <activity android:name=".phyfinal" />
        <activity android:name=".phy2" />
        <activity android:name=".phy1" />
        <activity android:name=".phy" />
        <activity android:name=".biology" />
        <activity android:name=".chemistry" />
        <activity android:name=".physics" />
        <activity
            android:name=".QuizHome"
            android:label="@string/title_activity_quiz_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".signup" />
        <activity android:name=".login" />
        <activity
            android:name=".openActivity2"
            android:label="@string/title_activity_open2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>